.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.logo {
    height: 16rem;
    width: auto;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
